.section {
  overflow: hidden;
  background: radial-gradient(
      82.57% 73.57% at 50% 50%,
      #1d0a3b 0%,
      #099e5036 100%
    ),
    url(/imgs/home_intro.png);

  background-position: center;
  background-size: cover;
  .container {
    padding: 0;
  }
}
.box {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(0.5px);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  .left {
    flex: 1 0 0;
    padding: 15px;
  }
  .right {
    position: relative;
    width: 100%;
    padding: 30px;
    .laptop {
      margin: 0 auto;
      margin-right: 0;
    }
    .cloud {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0px;
      margin-right: -10px;
    }
  }
}
@media (min-width: 575px) {
  .section {
    .container {
      padding: 20px 20px;
    }
  }
  .box {
    .left {
      padding: 40px;
    }
    .right {
      width: 325px;
      // width: 425px;
      .cloud {
        width: 120px;
        margin-right: 0;
      }
    }
  }
}
@media (min-width: 768px) {
  .section {
    .container {
      padding: 42px 44px;
    }
  }
  .box {
    .left {
      padding: 62px 10px 62px 32px;
    }
    .right {
      width: 250px;
      padding: 0 20px 0 0;
      .cloud {
        width: 100px;
        margin-right: -20px;
        margin-top: -20px;
      }
    }
  }
}
@media (min-width: 1024px) {
  .box {
    .left {
      padding: 62px;
      padding-right: 20px;
    }
    .right {
      width: 300px;
      .cloud {
        width: 120px;
      }
    }
  }
}
@media (min-width: 1440px) {
  .section {
    .container {
      padding: 62px 120px;
    }
  }
  .box {
    .left {
      padding: 100px 90px;
      padding-right: 60px;
    }
    .right {
      width: 425px;
      .cloud {
        width: 120px;
      }
    }
  }
  .images {
    padding: 0;
  }
}
