@import "src/styles/custom.scss";
.iconSelect {
  width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 6px;
  &:hover {
    @include transition;
    border: 1px solid #7272727e;
  }
}
.hiddenSelect {
  height: 0;
  opacity: 0;
  visibility: hidden;
  @include transition;
}
.showSelect {
  height: auto;
  opacity: 1;
  visibility: visible;
}
