.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
}
.left {
  flex: 1 0 0;
  .text {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
  }
}

.hexBox {
  display: block;
  max-width: 320px;
  margin: 72px auto 72px;
  position: relative;
  .hexagon {
    padding: 5px;
    img {
      margin: 0 auto;
    }
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 36px;
    text-align: center;
  }
  .image {
    width: 220px;
    display: inline-block;
  }
  .text {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }
}
@media (min-width: 768px) {
  .hexBox {
    display: inline-block;
    width: 50%;
  }
  .image {
    width: auto;
  }
  .content {
    padding: 0 26px;
  }
  .right {
    width: 720px;
  }
}
@media (min-width: 1440px) {
  .box {
    padding-top: 60px;
    flex-direction: row;
  }
}
