.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  position: relative;
  z-index: 1;
  .icons {
    position: absolute;
    z-index: -1;
    &_left {
      top: 24%;
      left: 6%;
      filter: blur(1px);
    }
    &_middle {
      top: 52%;
      left: 80%;
      filter: blur(8px);
    }
    &_right {
      top: 82%;
      left: 2%;
      filter: blur(1px);
    }
    @media (min-width: 768px) {
      &_left {
        top: 24%;
        left: 4%;
      }
      &_middle {
        top: 75%;
        left: 35%;
      }
      &_right {
        top: 36%;
        left: 86%;
      }
    }
    @media (min-width: 1440px) {
      &_left {
        top: 69%;
        left: -1.6%;
      }
      &_middle {
        top: 65%;
        left: 38%;
      }
      &_right {
        top: 69.5%;
        left: 91%;
      }
    }
  }
}
.left {
  flex: 1 0 0;
  .text {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
  }
}

.hexBox {
  display: block;
  max-width: 320px;
  margin: 72px auto 72px;
  position: relative;
  .hexagon {
    padding: 5px;
    img {
      margin: 0 auto;
    }
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 36px;
    text-align: center;
  }
  .image {
    max-width: 75%;

    display: inline-block;
  }
  .text {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }
}
@media (min-width: 525px) {
  .hexBox {
    .image {
      max-width: 220px;
    }
  }
}
@media (min-width: 768px) {
  .hexBox {
    display: inline-block;
    width: 50%;
    max-width: unset;
  }
  .image {
    max-width: auto;
  }
  .content {
    padding: 0 26px;
  }
  .right {
    width: 720px;
  }
}
@media (min-width: 1440px) {
  .box {
    padding-top: 60px;
    flex-direction: row;
  }
}
