.section {
  padding-top: 222px;
  padding-bottom: 215px;
  .heading {
    font-size: 58px;
    line-height: 60px;
    @media (max-width: 767px) {
      font-size: 48px;
      line-height: 50px;
    }
  }
}
