@mixin transition($properties: all 0.3s ease) {
  -webkit-transition: $properties;
  -moz-transition: $properties;
  -o-transition: $properties;
  -ms-transition: $properties;
  transition: $properties;
}
$-font-size: 1rem;
$-font-size-sm: 0.875rem;
$-cl-white: #ffffff;
$-cl-primary: #72bf44;
