.infoProject {
  .itemRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0;
    div:first-child {
      color: #919097;
      min-width: 35%;
    }
    div:last-child {
      color: #fcfcfc;
      max-width: 65%;
      text-align: right;
    }
  }
  .status,
  .copyBtn {
    display: inline-block;
    margin-left: 10px;
  }
  .status {
    width: 8px;
    height: 8px;
    margin-bottom: 2px;
    border-radius: 50%;
    &.true {
      background-color: #72bf44;
    }
    &.false {
      background-color: #bf4444;
    }
  }
  .information {
    // padding: 10px;
    border: 1px solid #333333;
    position: relative;
    .icon {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(14px, -12px) scale(0.75);
    }
    .content {
      padding: 10px;
      position: relative;
      .icon_hidden {
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #919097;
        visibility: hidden;
        inset: -5px 0px 0px;
        padding: 0 8px;
        & > * {
          padding: 0 5px;
        }
      }
    }
  }
  .btnDetails {
    background: transparent !important;
    color: #72bf44;
    padding: 5px 0;
    svg {
      display: inline-block;
      margin-right: 5px;
      transition: all 0.5s ease;
      &.showing {
        transform: rotate(180deg);
      }
    }
  }
}
