.main {
  display: block;
  overflow: hidden;
  .map,
  .sidebar {
    position: relative;
  }
  .map {
    width: 100%;
    height: calc(100vh - 74px);
    transition: all 0.2s ease-in-out;
  }
  .sidebar {
    width: 0px;
    overflow: hidden;
    height: 0vh;
    transition: all 0.2s ease-in-out;
  }
  &.active {
    &::after,
    &::before {
      content: "";
      clear: both;
    }
    .map {
      height: 478px;
      @media (min-width: 768px) and (max-width: 1023px) {
        height: 433px;
      }
      @media (min-width: 1024px) {
        width: calc(100% - 428px);
        float: left;
        height: calc(100vh - 74px);
      }
    }
    .sidebar {
      @media (max-width: 1023px) {
        height: auto;
        width: 100%;
      }
      @media (min-width: 1024px) {
        width: 428px;
        height: calc(100vh - 74px);
        float: left;
      }
    }
  }
}
